---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [225]:
import pandas as pd
import numpy as np

def energy():
    energy = (pd.read_excel('Energy Indicators.xls',skiprows = 17, skip_footer = 38, names = ['1', '12', 'Country', 'Energy Supply',
                                                                                               'Energy Supply per Capita', '% Renewable'])
                .set_index('Country')
                .drop(['1','12'], axis =1)
                #.dropna()
                .replace('...','0')
             )
    energy = (energy.rename(index={"Republic of Korea": "South Korea","United States of America20": "United States",
                      "United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
                      "China, Hong Kong Special Administrative Region3": "Hong Kong", 'China, Macao Special Administrative Region4':'Macao'}))
    regex = r"([a-zA-Z]+(?:\s+[a-zA-Z]+)*).*"
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    #enegery = energy[:0]
    #.astype(np.int64)
    energy.index = energy.index.str.extract(regex)
    return energy
energy()
def GDP():
    GDP = (pd.read_csv('world_bank.csv',skiprows = 4 )
             .rename(columns = {'Country Name':'Country'})
             .set_index('Country')
             .rename(index = {"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})
             #.fillna(0)
          )
    GDP = GDP.iloc[0:,-10:]
    return GDP
GDP()
def ScimEn():
    ScimEn = pd.read_excel('scimagojr-3.xlsx').set_index('Country')
    return ScimEn
ScimEn()

def merge1():
    merge1 = pd.merge(ScimEn(),energy(),how='inner',left_index =True, right_index=True)
    return merge1
def merge2():
    merge2 = df2 = pd.merge(merge1(), GDP(),how='inner',left_index =True, right_index=True)
    return merge2
def answer_one():    
    columns_to_keep = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    Top15 = merge2()[columns_to_keep].sort_values(by=['Rank'],axis=0, ascending=True)
    Top15 = Top15.where(Top15['Rank']<16)
    Top15 = Top15[0:15]
    #Top15 = Top15.fillna(0)  
    return Top15
answer_one()
#print(GDP().shape,',',ScimEn().shape,',',energy().shape)

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1.0,"127,050.0","126,767.0","597,237.0","411,683.0",4.7,138.0,127191000000,93,19.75491,"3,992,331,462,570.89","4,559,041,383,517.93","4,997,775,145,605.96","5,459,247,267,275.14","6,039,658,508,485.59","6,612,490,294,273.65","7,124,977,970,399.61","7,672,447,738,017.42","8,230,120,617,793.52","8,797,998,940,421.28"
United States,2.0,"96,661.0","94,747.0","792,274.0","265,436.0",8.2,230.0,90838000000,286,11.57098,"14,792,303,791,800.0","15,055,395,304,800.0","15,011,490,541,400.0","14,594,842,181,900.0","14,964,372,000,000.0","15,204,019,634,600.0","15,542,161,722,300.0","15,773,666,098,800.0","16,156,618,476,000.0","16,548,573,278,300.0"
Japan,3.0,"30,504.0","30,287.0","223,024.0","61,554.0",7.31,134.0,18984000000,149,10.23282,"5,496,541,517,363.31","5,617,035,943,770.73","5,558,526,873,313.82","5,251,308,399,909.32","5,498,717,815,809.77","5,473,738,114,222.05","5,569,101,602,926.18","5,644,658,523,313.42","5,642,884,448,582.19","5,669,563,143,140.97"
United Kingdom,4.0,"20,944.0","20,357.0","206,091.0","37,874.0",9.84,139.0,7920000000,124,10.60047,"2,419,630,700,401.73","2,482,203,235,475.9","2,470,614,405,284.3","2,367,047,611,711.99","2,403,504,326,328.8","2,450,911,011,124.85","2,479,808,627,472.19","2,533,370,110,012.36","2,605,643,189,894.93","2,666,333,396,477.13"
Russian Federation,5.0,"18,534.0","18,301.0","34,266.0","12,422.0",1.85,57.0,30709000000,214,17.28868,"1,385,792,607,182.58","1,504,071,117,741.3","1,583,004,071,092.11","1,459,199,142,720.26","1,524,917,468,442.01","1,589,942,641,764.29","1,645,875,899,596.27","1,666,934,123,163.16","1,678,708,855,070.86","1,616,148,858,033.77"
Canada,6.0,"17,899.0","17,620.0","215,003.0","40,930.0",12.01,149.0,10431000000,296,61.94543,"1,564,468,853,329.45","1,596,739,898,466.32","1,612,713,061,250.24","1,565,144,676,082.31","1,613,406,134,731.12","1,664,086,754,804.89","1,693,132,927,878.08","1,730,687,770,724.13","1,773,485,821,199.77","1,792,608,764,608.81"
Germany,7.0,"17,027.0","16,831.0","140,566.0","27,426.0",8.26,126.0,13261000000,165,17.90153,"3,332,890,754,966.89","3,441,560,834,437.09","3,478,809,377,483.44","3,283,339,933,774.83","3,417,298,013,245.03","3,542,371,125,827.81","3,556,723,774,834.44","3,567,317,390,728.48","3,624,386,278,145.7","3,685,555,907,284.77"
India,8.0,"15,005.0","14,841.0","128,763.0","37,209.0",8.58,115.0,33195000000,26,14.96908,"1,265,894,322,131.09","1,374,865,195,244.5","1,428,360,609,657.8","1,549,482,541,544.7","1,708,458,876,829.92","1,821,872,415,623.62","1,924,235,460,945.25","2,051,981,849,791.69","2,200,616,575,310.97","2,367,206,118,959.06"
France,9.0,"13,153.0","12,973.0","130,632.0","28,601.0",9.93,114.0,10597000000,166,17.02028,"2,607,839,735,099.34","2,669,423,841,059.6","2,674,637,086,092.71","2,595,966,887,417.22","2,646,994,701,986.75","2,702,031,788,079.47","2,706,968,211,920.53","2,722,566,887,417.22","2,729,631,788,079.47","2,761,185,430,463.58"
South Korea,10.0,"11,983.0","11,923.0","114,675.0","22,595.0",9.57,104.0,11007000000,221,2.279353,"941,019,882,149.125","992,431,619,676.197","1,020,509,638,539.71","1,027,729,932,849.17","1,094,499,338,702.72","1,134,795,571,930.64","1,160,809,426,196.79","1,194,429,021,591.57","1,234,340,240,503.49","1,266,580,410,309.11"
Italy,11.0,"10,964.0","10,794.0","111,850.0","26,661.0",10.2,106.0,6530000000,109,33.66723,"2,202,169,663,576.16","2,234,626,814,701.99","2,211,154,176,556.29","2,089,937,511,523.18","2,125,184,794,172.19","2,137,439,133,774.83","2,077,184,315,761.59","2,040,871,178,145.7","2,033,867,707,549.67","2,049,315,603,576.16"
Spain,12.0,"9,428.0","9,330.0","123,336.0","23,964.0",13.08,115.0,4923000000,106,37.96859,"1,414,822,516,556.29","1,468,145,695,364.24","1,484,529,801,324.5","1,431,475,496,688.74","1,431,672,847,682.12","1,417,354,966,887.42","1,380,215,894,039.73","1,357,139,072,847.68","1,375,605,298,013.24","1,419,821,192,052.98"
Iran,13.0,"8,896.0","8,819.0","57,470.0","19,125.0",6.46,72.0,9172000000,119,5.707721,"389,552,313,541.27","425,064,554,419.08704","428,990,857,822.095","438,920,754,763.986","467,790,215,915.476","485,330,901,134.448","453,256,899,727.83203","444,592,553,889.771","463,902,735,245.89",nan
Australia,14.0,"8,831.0","8,725.0","90,765.0","15,606.0",10.28,107.0,5386000000,231,11.81081,"1,021,939,264,106.67","1,060,340,245,233.55","1,099,643,871,866.03","1,119,653,852,349.08","1,142,250,506,474.06","1,169,431,057,881.91","1,211,913,217,353.49","1,241,484,494,446.53","1,272,519,759,757.29","1,301,251,030,445.66"
Brazil,15.0,"8,668.0","8,596.0","60,702.0","14,396.0",7.0,86.0,12149000000,59,69.64803,"1,845,079,664,513.56","1,957,118,136,056.33","2,056,809,174,052.93","2,054,214,562,458.19","2,208,872,214,643.02","2,295,244,758,549.53","2,339,209,222,185.09","2,409,739,667,075.82","2,412,230,647,720.45","2,319,423,390,494.13"

In [179]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [323]:
def answer_two():
    data = answer_one()
    union1 = pd.merge(GDP(),energy(),how ='outer',left_index =True, right_index=True)
    union2 = pd.merge(union1,ScimEn(),how ='outer',left_index =True, right_index=True)
    merge_row = len(union2.axes[0])
    left1 = pd.merge(GDP(),energy(),how ='inner',left_index =True, right_index=True)
    left2 = pd.merge(left1,ScimEn(),how ='inner',left_index =True, right_index=True)
    left_row = len(left2.axes[0])
    ANSWER = merge_row-left_row
    return ANSWER
answer_two()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

156

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [230]:
def answer_three():
    Top15 = answer_one()
    columns_to_keep = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    Data = Top15[columns_to_keep]
    avgGDP = np.ma.mean(Data,axis=1)
    df = pd.DataFrame(avgGDP).rename(columns = {0:'avgGDP'}).sort_values(by=['avgGDP'],axis=0, ascending=True, inplace=False)
    ANSWER = df.iloc[:,0]
    return ANSWER
answer_three()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

Country
Iran                  444,155,754,051.09503
South Korea           1,106,714,508,244.852
Australia             1,164,042,729,991.427
Spain                 1,418,078,278,145.694
Russian Federation    1,565,459,478,480.661
Canada                1,660,647,466,307.512
India                1,769,297,396,603.8599
Italy                2,120,175,089,933.7761
Brazil               2,189,794,143,774.9048
United Kingdom       2,487,906,661,418.4175
France                2,681,724,635,761.589
Germany               3,493,025,339,072.848
Japan                 5,542,207,638,235.176
China                   6,348,608,932,836.1
United States          15,364,344,302,990.0
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [231]:
def answer_four():
    Top15 = answer_one()
    columns_to_keep = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    Data = Top15[columns_to_keep]
    avgGDP = np.ma.mean(Data,axis=1)
    df = pd.DataFrame(avgGDP).rename(columns = {0:'avgGDP'}).sort_values(by=['avgGDP'],axis=0, ascending=True, inplace=False)
    Top15 = pd.merge(answer_one(),df,how='inner',left_index =True, right_index=True).sort_values(by=['avgGDP'],axis=0, ascending=False, inplace=False)
    the6 = Top15.loc[Top15.index[6]]
    ANSWER = the6.loc['2015'] - the6.loc['2006']
    return ANSWER
answer_four()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

474343725980.56982

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [238]:
def answer_five():
    Top15 = answer_one()
    ANSWER = Top15['Energy Supply per Capita'].mean().item()
    return ANSWER
answer_five()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [233]:
def answer_six():
    Top15 = answer_one()
    maxi= Top15['% Renewable'].max(axis=0)
    ans = Top15.loc[Top15['% Renewable'] == maxi]
    ANSWER = (ans.index.tolist()[0],maxi)
    return ANSWER
answer_six()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [211]:
def answer_seven():
    Top15 = answer_one()
    ration = pd.DataFrame(Top15['Self-citations']/Top15['Citations']).rename(columns = {0:'Citation Ratio'})
    merge = pd.merge(answer_one(), ration, how='inner',left_index =True, right_index=True)
    higest= merge.nlargest(1,'Citation Ratio')
    ANSWER = (higest.index.tolist()[0], higest['Citation Ratio'].tolist()[0])
    return ANSWER
answer_seven()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:18: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

('China', 0.6893126179389422)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [308]:
def answer_eight():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15 = Top15.sort_values(by='PopEst',axis=0, ascending=True)
    ANSWER = Top15[-3:-2].index.tolist()[0]
    return ANSWER
answer_eight()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [235]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents']/Top15['PopEst']
    Top15['Citable docs per Capita'] =np.float64(Top15['Citable docs per Capita'])
    Top15['Energy Supply per Capita'] =np.float64(Top15['Energy Supply per Capita'])
    ans = Top15['Energy Supply per Capita'].corr(Top15['Citable docs per Capita'])
    return ans
answer_nine()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

0.79400104354429468

In [188]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [189]:
#plot9()

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [215]:
def answer_ten():
    Top15 = answer_one().sort_values(by=['Rank'],axis=0, ascending=True)
    median = Top15['% Renewable'].mean()
    Top15['HighRenew'] = Top15['% Renewable'] > median
    ANSWER = Top15['HighRenew'].replace([False,True],['0','1'])
    #.astype('int64')
    return ANSWER
answer_ten()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:18: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

Country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               0
India                 0
France                0
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: object

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [236]:
def answer_eleven():
    ContinentDict  = {'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'}
    Top15 = answer_one()
    Top15['PopEst'] = np.float64(Top15['Energy Supply'] / Top15['Energy Supply per Capita'])
    Top15['Continent'] = [ContinentDict[country] for country in Top15.index]
    group = Top15.set_index('Continent').groupby(level=0)['PopEst'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean,'std': np.std})
    return group
answer_eleven()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:19: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,size,sum,mean,std
Continent,,,,
Asia,5.0,"2,898,666,386.6106005","579,733,277.3221201","679,097,888.3660954"
Australia,1.0,"23,316,017.316017315","23,316,017.316017315",nan
Europe,6.0,"457,929,667.2163719","76,321,611.20272864","34,647,667.06562293"
North America,2.0,"352,855,249.4802495","176,427,624.74012476","199,669,644.8566684"
South America,1.0,"205,915,254.23728815","205,915,254.23728815",nan

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [219]:
def answer_twelve():
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = answer_one()
    Top15['Continent'] = [ContinentDict[country] for country in Top15.index]
    columns_to_keep = ['% Renewable','Continent']
    data = Top15[columns_to_keep]
    data['bin'] = pd.cut(data['% Renewable'],5)
    ANSWER = data.groupby(['Continent','bin']).size()
    return ANSWER
answer_twelve()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:18: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Continent      bin
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [220]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita'])
    ans = Top15['PopEst']
    pd.options.display.float_format = '{:20,}'.format
    return ans
answer_thirteen()

/Users/yiyingchen/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:18: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

Country
China                 1,367.6451612903227
United States          317.61538461538464
Japan                  127.40939597315436
United Kingdom          63.87096774193548
Russian Federation                  143.5
Canada                  35.23986486486486
Germany                 80.36969696969697
India                 1,276.7307692307693
France                  63.83734939759036
South Korea             49.80542986425339
Italy                  59.908256880733944
Spain                  46.443396226415096
Iran                    77.07563025210084
Australia              23.316017316017316
Brazil                 205.91525423728814
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [194]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

In [195]:
#plot_optional()